[mysqld]
skip-networking=0
log_bin = ON
server-id         = 1
log_bin           = mysql-bin
binlog_format     = ROW
binlog_row_image  = FULL
expire_logs_days  = 10

interactive_timeout=300
wait_timeout=300
binlog_rows_query_log_events=ON
